
*.iml

projects/.idea/

projects/Project1/.idea/

*.class

projects/Project2/.idea/

projects/Project1/src/.idea/misc.xml

projects/Project1/src/.idea/modules.xml

projects/Project1/src/.idea/workspace.xml

projects/SpringProjects/XMLConfig/studentAssignmt/.mvn/wrapper/maven-wrapper.jar

projects/SpringProjects/XMLConfig/studentAssignmt/mvnw

projects/SpringProjects/XMLConfig/studentAssignmt/mvnw.cmd

projects/SpringProjects/XMLConfig/studentAssignmt/.mvn/wrapper/maven-wrapper.properties

projects/SpringProjects/XMLConfig/studentAssignmt/src/main/resources/application.properties

projects/SpringProjects/XMLConfig/studentAssignmt/src/test/java/com/genspark/studentAssignmt/StudentAssignmtApplicationTests.java

projects/pom.xml

projects/SpringProjects/JavaConfig/studentAssignmt/.mvn/wrapper/maven-wrapper.jar

projects/SpringProjects/JavaConfig/studentAssignmt/.mvn/wrapper/maven-wrapper.properties

projects/SpringProjects/JavaConfig/studentAssignmt/mvnw

projects/SpringProjects/JavaConfig/studentAssignmt/mvnw.cmd

projects/SpringProjects/JavaConfig/studentAssignmt/src/test/java/com/genspark/studentAssignmt/StudentAssignmtApplicationTests.java

projects/SpringProjects/LibraryBookProject/LibraryBookProject/mvnw.cmd

projects/SpringProjects/LibraryBookProject/LibraryBookProject/mvnw

projects/SpringProjects/LibraryBookProject/LibraryBookProject/.mvn/wrapper/maven-wrapper.jar

projects/SpringProjects/LibraryBookProject/LibraryBookProject/.mvn/wrapper/maven-wrapper.properties
